.intro {
  font-style: italic;
  margin: auto;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

h1{
  text-align: center;
  font-weight: bolder;
  color: darkred;
  margin-bottom: 20px;
  text-decoration: underline;
}

h2{
  font-weight: bold;
  text-align: justify;
  margin-top: 50px;
  background-color: darkseagreen;
  border: solid black;
  width: 15%;
  margin-left: 20px;
  margin-right: 20px;
 }

 .hobbies {
   font-weight: bold;
   text-align: justify;
   margin-top: 50px;
   background-color: darkseagreen;
   border: solid black;
   width: 25%;
  }

 .Columns {
   border: solid black;
   background-color: bisque;
   width: 10%;
   border-width: 3px;
   padding: 10px;
   margin-bottom: 20px;
   box-sizing: border-box;
   margin-top: 20px;
   margin-left: 20px;
  }

  h3 {
    font-weight: bold;
    text-decoration: underline;
  }

  .projects {
    font-weight: bold;
    text-align: justify;
    margin-top: 50px;
    background-color: darkseagreen;
    border: solid black;
    width: 25%;
  }

  img {
    width: 25%;
    height: 25%;
    float: right;
    margin-right: 30px;
    border: solid darkblue;
    padding: 10px;
    background-color: darkorange;
  }

  .links {
    border: solid black;
    background-color: bisque;
    width: 35%;
    border-width: 3px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 20px;
  }

  .lines {
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    margin-right: 20px;
    margin-left: 20px;
  }

  .highlight {
    text-decoration: underline;
    color: rgb(0, 38, 255);
    font-weight: bolder;
    font-style: oblique;
  }

  .about-me {
    font-family: monospace;
    color: coral;
    font-size: large;
  }

  .background {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
    font-size: large;
  }

  .mc {
    font-weight: bolder;
    font-size: larger;
    color: crimson;
    text-decoration: underline;
  }

  .pro {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(128, 68, 0);
    text-decoration: underline;
  }