.intro {
  font-style: italic;
  margin: auto;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

h1{
  text-align: center;
  font-weight: bolder;
  color: darkred;
  margin-bottom: 20px;
}

h2{
  font-weight: bold;
  text-align: justify;
  margin-top: 50px;
  background-color: darkseagreen;
  border: solid black;
  width: 15%;
 }

 .hobbies {
   font-weight: bold;
   text-align: justify;
   margin-top: 50px;
   background-color: darkseagreen;
   border: solid black;
   width: 25%;
  }

 .Columns {
   border: solid black;
   background-color: dimgrey;
   width: 10%;
   float: left;
   border-width: 3px;
   padding: 10px;
   margin-bottom: 20px;
   box-sizing: border-box;
   margin-top: 20px;
   margin-left: 20px;
  }

  h3 {
    font-weight: bold;
    text-decoration: underline;
  }


